.conhecimentos-back h1 {
    width: 200px;
    text-align: center;

}
.single-conhecimento { 
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.single-conhecimento p {
    text-align: justify;
    width: 100%;
}
.single-conhecimento img {
    width: 80px;
    height: 80px;
}
.main-bar { 
    display: flex;
    flex-wrap: wrap;
}
.main-bar i {
    color: black;
    font-size: 80px;
    width: 20%;
    
}
